*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

/* Variáveis */

:root {
    --ff-title: "Jacquard 12", system-ui;
    --ff-primary: "Anta", sans-serif;
    --bg-primary: "";
    --fc-primary: "";
    font-size: 62.5%;
}

